@import variables.sass
@import mixin.sass
@import promo.sass
@import header.sass
@import button.sass
@import benefits.sass
@import consultation.sass
@import title.sass
@import forms.sass
@import media.sass

*
    font-family: 'Museo Sans Cyrl', sans-serif

.container
    max-width: 950px
    margin: 0 auto

        
